html,
body {
  margin: 0;
  padding: 0;
  font-family: "Quattrocento", Verdana, Tahoma, sans-serif;
}

nav,
#menu-checkbox {
  display: none;
}

.cart-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 3em;
  color: #fff;
  background: #06718c;
  padding: 2em;
  border-radius: 50%;
}

#add-to-cart,
.cart {
  display: none;
}

label:hover {
  cursor: pointer;
}

.cart {
  border: 1px solid #053541;
  background: white;
  position: fixed;
  right: 2px;
  padding: 2em;
  top: 3em;
  margin-top: 1.5em;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
  border-radius: 0 0 0 10%;
  box-shadow: -5px 5px 5px gray;
}

.item {
  display: flex;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-family: "Oswald", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.item img {
  width: 5em;
  object-fit: cover;
}
#add-to-cart:checked ~ .cart {
  display: flex;
}

#menu-checkbox:checked ~ nav {
  display: block;
  width: 300px;
}

header {
  display: block;
  position: sticky;
  background-color: rgba(42, 163, 194, 0.9);
  padding: 20px 20px;
  top: 0;
}

#logo {
  margin: 0 auto;
  display: flex;
  width: 60%;
}

nav {
  position: relative;
}
nav a {
  display: block;
  padding: 10px 0px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #053541;
}

.hamburger-icon {
  font-size: 3em;
}

h1 {
  color: #8c4300;
  font-family: "Oswald", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  color: #402105;
  font-family: "Oswald", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
}
h3 {
  color: #053541;
  font-family: "Oswald", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.current {
  text-decoration: underline solid white 3px;
}

.hero-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 1000px;
  object-fit: cover;
  z-index: -1;
}

.hero p {
  display: none;
  margin-top: -300px;
  margin-bottom: 300px;
  margin-left: 2em;
  color: #06718c;
  font-family: "Oswald", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
}

.hero::after {
  content: url(/images/logo-mountain.png);
  margin-top: -550px;
  margin-bottom: 500px;
  margin-left: 3em;
  display: none;
}
#quote {
  color: #053541;
  font-size: 1.5em;
}
.container-collection {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin: 2em;
  margin-bottom: 10em;
}
.container-collection p {
  font-family: "Quattrocento", Verdana, Tahoma, sans-serif;
  font-size: 1.5em;
}
.container-collection img {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.collection-text {
  margin: 5px;
  float: right;
}
.small-button-fill {
  background-color: #06718c;
  border: none;
  color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 10px 30px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", Verdana, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.small-button-stroke {
  background-color: transparent;
  border: none;
  color: black;
  border-radius: 35px;
  border-style: solid;
  border-color: #06718c;
  border-width: 2px;
  padding: 10px 30px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", Verdana, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 25px;
}
.button-fill {
  background-color: #06718c;
  border: none;
  color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", Verdana, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 25px;
  display: block;
  inline-size: 150px;
  margin: 0 auto;
}

.container-gifts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5em;
}

.store-pages {
  display: flex;
  width: fit-content;
  margin: 4em auto;
  gap: 2em;
  flex-wrap: wrap;
}
.store-pages a {
  text-decoration: none;
  font-family: "Quattrocento", Verdana, Tahoma, sans-serif;
  color: #686868;
  font-size: 1.7em;
}
.container-gifts div {
  flex: 1 0 300px;
  max-width: 300px;
}
.container-gifts img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.container-gifts p {
  font-family: "Quattrocento", Verdana, Tahoma, sans-serif;
  font-size: 1.7em;
  text-align: center;
}

.sale {
  text-decoration: line-through;
}
.sale::after {
  content: "$39.99";
  text-decoration: none;
  color: red;
  display: inline-block;
  text-align: center;
}
.collection-intro {
  margin: 0 auto;
  text-align: center;
}
.collection-intro p {
  margin: 2em auto;
  text-align: left;
  max-width: 50%;
}
.link-style {
  font-family: "Quattrocento", Verdana, Tahoma, sans-serif;
  font-size: 1.2em;
  color: #06718c;
}
.sort-collection {
  display: flex;
  margin: 2em 0;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.sort-collection p {
  color: #6e6e6e;
  margin-top: 0;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.sort-collection a {
  color: #053541;
  font-family: "Quattrocento", Verdana, Tahoma, sans-serif;
  font-size: 1.2em;
}
.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  row-gap: 6em;
  max-width: 100%;
}
.shop-items img {
  height: 300px;
  width: 300px;
  border-radius: 10%;
  object-fit: cover;
}
.shop-items p {
  font-family: "Quattrocento", Verdana, Tahoma, sans-serif;
  font-size: 1.7em;
  text-align: center;
  margin: 0.5em 0;
}
.shop-items h3 {
  margin: 0.5em 0;
}
.add-to-cart {
  background-color: #06718c;
  margin-left: 4em;
  color: white;
  border-radius: 35px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Oswald", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
#rain-cloud {
  margin: 2em auto;
  display: block;
  width: 16%;
}
#line {
  max-width: 50%;
  color: #06718c;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #06718c, #ccc);
}
.about-us-text {
  max-width: 70%;
  margin: 4em auto;
  font-size: 1.5em;
}
#collection-info-banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  z-index: -1;
}
.contact-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 5em auto;
}

.contact-form input {
  display: block;
  margin-bottom: 2em;
  color: #6e6e6e;
  font-size: 1em;
}
textarea {
  resize: none;
}
.contact-form label {
  display: block;
  margin-bottom: 0.2em;
}
.contact-form p {
  font-size: 1.5em;
  color: #6e6e6e;
}
.contact-info p {
  font-size: 1.5em;
  color: #6e6e6e;
}
.checkout {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 4em;
}

.checkout h3 {
  text-align: start;
  text-decoration: underline;
  font-size: 1.5em;
}

.checkoutform {
  flex: 1;
}
.checkoutsummary {
  flex: 1;
}
.checkoutsummary a {
  margin: 2em 3em;
}
.checkoutsummary .item {
  width: 18em;
}
#card-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#card-details input {
  height: 25px;
  margin-top: 1em;
}
#orderconfirm {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 4em;
}
#orderconfirm a {
  font-size: 2em;
}
.collection-timeline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5em;
}
.collection-timeline img {
  display: block;
  margin: 0 auto;
}
.collection-timeline p {
  display: block;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #333;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
footer {
  background: #053541;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 80px;
}
footer a {
  color: #8c4300;
  font-size: 35px;
  margin: 20px;
}

@media (min-width: 600px) {
  header {
    padding: 10px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  nav a:last-child {
    right: 0;
  }
  nav a {
    font-size: 20px;
    min-width: fit-content;
    padding: 10px;
    align-content: flex-end;
  }

  .container-gifts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .container-collection {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .container-collection p {
    text-align: left;
  }
  .hamburger-icon {
    display: none;
  }

  .collection-intro p {
    max-width: 28%;
  }
  #logo {
    display: flex;
    position: relative;
    float: left;
    width: fit-content;
    z-index: 1;
  }
  .sort-collection {
    flex-direction: row;
    position: relative;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 1em;
  }
  .collection-timeline p {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .hero p {
    display: block;
  }
  .hero::after {
    display: block;
  }
}
